/* buttons */
.btn {
    background-color: var(--color-lightgrey);
    color: var(--color-darkblue);
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 28px;
    font-size: 0.8rem;
    padding: 0.7em 0.8em;
    border-radius: 1px;
    cursor: pointer;
    border-radius: 0.25rem;
    box-shadow: rgba(17,12,46,0.15) 0px
    4px 3px 0px;
    transition: ease-in-out .5s;
}
  
.btn-block{
    width: 100%;
}
  
.btn-primary{
    background-color: var(--color-softblue);
    background: linear-gradient(to right, var(--color-softblue), hsl(231, 30%, 55%));
    color: var(--color-white);
}


.btn:hover{
    padding: 1em 1.1em;
    color: var(--color-white);
}

.btn svg{
    margin-left: 0.5em;
}

.btn-secondary{
    background-color: var(--color-softblue);
    background: linear-gradient(to right, var(--color-softred), hsl(0, 50%, 65%));
    color: var(--color-white);
}